body {
  font-family: Arial, sans-serif;
}

.box {
  width: 320px;
  height: 100px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 30px;
}


.visible {
  overflow: visible;
}


.hidden {
  overflow: hidden;
}


.scroll {
  overflow: scroll;
}
