
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 100%;
  height: 250px;
  border: 2px solid black;
  margin-bottom: 30px;
  padding: 20px;
}


.box {
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  margin-bottom: 10px;
  padding: 5px;
}


.static .box {
  position: static;
}


.relative .box-relative {
  position: relative;
  left: 40px;
  top: 20px;
  background-color: lightgreen;
}


.relative-parent {
  position: relative;
}

.box-absolute {
  position: absolute;
  top: 60px;
  left: 40px;
  background-color: lightgreen;
}
