.uniformPadding {
    margin: 40px;
    border: 3px solid black;
}

.uniform {
    margin: 10px 10px 20px 10px;
    padding: 10px 30px 20px 40px;
}

.nonUniformPadding {
    margin:10px 30px 20px 40px;
    border: 3px solid black;
}

.nonUniform {
    margin: 10px 10px 20px 10px;
    padding: 10px 30px 20px 40px;
}

.percentagePadding {
    margin: 10px;
    padding: 25px;
    border: 3px solid black;
}

.percent {
    margin: 10px 10px 20px 10px;
    padding: 10px 30px 20px 40px;
}