
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    font-family: 'Gochi Hand';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #eee;
}

.postcard {
    width: 800px;
    height: 650px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.1);
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.postcard-front, .postcard-back {
    flex: 1;
    padding: 20px; 
    box-sizing: border-box;
}

.postcard-front {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.postcard-front img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: auto;
    
}

.postcard-front .message {
    position: absolute;
    bottom: 30px;
    background-color: white;
    padding: 15px 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-radius: 1rem;
}

.postcard-front .message h1 {
    color: #333;
    font-size: 20px;
    margin: 0 0 10px 0;

}

.postcard-front .message p {
    font-size: 14px;
    color :#333;
    margin: 0;
    margin-top: 0;
}

.postcard-back {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 40px;

}

.postcard-back h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.postcard-back p {
    margin: 5px 0;
    color: #333;
}