
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  width: 500px;
  border: 3px solid blue;
  padding: 10px;
  margin-bottom: 35px;

  display: flex;
}

.box {
  width: 60px;
  height: 60px;
  background: #eee;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.start {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.end {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}
