.sectionOne,
.sectionTwo,
.sectionThree {
    border: 2px solid black;
    padding: 1em 2em;
    margin-bottom: 2em;
}

p {
    border: 1px solid #ccc;
    padding: 1em;
}

.displayBlock {
    display: block;
}

.displayInline {
    display: inline;
}

.displayInline-Block {
    display: inline-block;
}