
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  width: 500px;
  height: 180px;
  border: 3px solid blue;
  padding: 10px;
  margin-bottom: 35px;

  display: flex;
  flex-wrap: wrap; 
}

.box {
  width: 55px;
  height: 45px;
  background: #eee;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0; 
}

.ac-start   { align-content: flex-start; }
.ac-center  { align-content: center; }
.ac-end     { align-content: flex-end; }
.ac-between { align-content: space-between; }
.ac-around  { align-content: space-around; }
