
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  width: 500px;
  border: 3px solid blue;
  padding: 10px;
  margin-bottom: 30px;

  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  background: #eee;
  border: 2px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}
