.section.banner {
    overflow: hidden;
    margin: auto;
    background-image: url(./images/image1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: max(30vh, 500px);
    position: relative;
}


.section.banner header {
    color: white;
    font-size: 2em;
    max-width: 30rem;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}