div {
    border: 3px solid black;
    margin: 15px;
    padding: 20px;
}

.family {
    font-family: Arial, sans-serif;
}

.size {
    font-size: 24px;
}

.weight {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.smallCaps {
    font-variant: small-caps;
}