
:before, 
::after { 
    box-sizing: border-box;
}

body {
    font: 14px/1.4 Lato, sans-serif;
    background: #eee;
}

.page {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 40px;
    border-radius: 6px;

    width: 100%;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
    margin-bottom: 20px;
}

ul,
ol {
    margin-left: 25px;
    margin-bottom: 20px;
}

ul ul {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

th {
    background: #f2f2f2;
}

footer {
    margin-top: 40px;
    font-style: italic;
    text-align: right;
}

.tags {
    color: #777;
}

@media (max-width: 800px) {
    .page {
        margin: 20px;
        padding: 24px;
    }
}

@media (max-width: 480px) {
    .page {
        margin: 16px;
        padding: 12px;
    }
}