
.container {
    border: 1px solid #ccc;
    padding: 20px;
}


.container p {
    color: blue;
}


.container p span {
    color: red;
}


.container p + p {
    background-color: #dcdcdc;
}


.container > span {
    color: red;
    font-weight: bold;
    display: block;
    margin: 10px 0;
}


ul {
    margin-top: 10px;
}

ul ul {
    margin-left: 20px;
}
