:before,
::after {
    box-sizing: border-box;
}

body {
    padding: 2em;
    font: 14px/1.5 Lato, sans-serif;
}

p {
    padding-bottom: 1.5em;
}

body::before {
    display: block;
    background-color: #369;
    color: #fff;
    padding: 1em 1.5em;
    margin-bottom: 2em;
    border-radius: 0.3em;
}

@media all {
    body::before {
        content: "Then page is being shown an a screen";
    }
}

@media print {
    body::before {
        content: "The page4 or is using a print preview or it was printed";
    }
}

@media screen {
    body::after {
        content: "The page is being shown on a screen";
    }
}