
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font: 14px/1.5 Lato, sans-serif;
    margin: 0;
    padding: 4em 2em;
}
.site {
    max-width: 1100px;
    background: #fff;
    padding: 2em;
    border-radius: 3px;
    box-shadow: 0 0 1em 0 rgb(0,0,0,0,0.2);
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.site > * {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 2em;
    flex: 1 1 auto;
}

.site-header, .site-footer {
    flex: 1 1 100%;
}

.site > main {
    flex-grow: 7;

}

.site > aside {
    flex-grow: 3;
}

.site + .site {
    margin-top: 4em;
}

@media (max-width: 1100px) {
    .site {
        flex-direction: column;
    }
}