
.container {
    border: 2px solid blue;
    width: 300px;
    height: 200px;
    margin-bottom: 35px;
    padding: 20px;

    display: flex;
}

.box {
    border: 2px solid black;
    background: #eee;
    width: 45px;
    height: 50px;

    align-items: center;
    justify-content: center;
    display: flex;

    font-weight: bold;
}

.down {
    align-self: center;
}

.bottom {
    align-self: flex-end;
}

.baseLine {
    align-self: baseline;
}