
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-right: 10px;

  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;

  text-decoration: none;
  cursor: pointer;

  border: 1px solid transparent;
}

.gray {
  background: #dcdcdc;
  color: #555;
}

.orange {
  background: #ff9800;
  color: #000;
}

.yellow {
  background: #f6f6c1;
  color: #444;
}

.white {
  background: #fff;
  border: 1px solid #ccc;
  color: #444;
}

.disabled {
  background: #dcdcdc;
  color: #777;
  cursor: default;
}
