.fixed {
    width: 300px;
    border: 3px solid black;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
}

.percentage {
    width: 50%;
    border: 3px solid black;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
}

.min-max {
    min-width: 100px;
    max-width: 300px;
    border: 3px solid black;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
}