
.fixed {
    height: 200px;
    border: 3px solid black;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}

.part {
    height: 50%;
    border: 3px solid black;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}

.port {
    height: 50vh;
    border: 3px solid black;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}

.min-max {
    height: 200px;
    border: 3px solid black;
    margin: 10px 20px 10px 20px;
    padding: 10px 20px 10px 20px;
}