
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  width: 350px;
  height: 80px;
  border: 3px solid blue;
  padding: 10px;
  margin-bottom: 35px;

  display: flex;
}


.box {
  width: 180px;
  background: #eee;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}


.shrink-default .box {
  flex-shrink: 1;
}


.no-shrink {
  flex-shrink: 0;
}


.shrink {
  flex-shrink: 2;
}
