
.flex-container {
    border: 3px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
}

.flex-item {
    border: 2px solid black;
    padding: 20px;
    background: gray;
}

.flex-containerReversed {
    border: 3px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
}

.reversed {
    border: 2px solid black;
    padding: 20px;
    background: gray;
    flex-direction: row-reverse;
}

.flex-containerColumn {
    border: 3px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.columned {
    border: 2px solid black;
    padding: 20px;
    background: gray;
}

.flex-containerColumnReversed {
    border: 3px solid blue;
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column-reverse;
}

.columnedReveersed {
    border: 2px solid black;
    padding: 20px;
    background: gray;
}