
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

.container {
  width: 500px;
  height: 80px;
  border: 3px solid blue;
  padding: 10px;
  margin-bottom: 35px;

  display: flex;
}

.box {
  width: 60px;
  background: #eee;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;
}


.custom .three { order: 1; } /* 3 */
.custom .five  { order: 2; } /* 5 */
.custom .two   { order: 3; } /* 2 */
.custom .six   { order: 4; } /* 6 */
.custom .one   { order: 5; } /* 1 */
.custom .four  { order: 6; } /* 4 */
