* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.social h2 {
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.icons {
  display: flex;
  gap: 15px;
}

.icons a {
  width: 55px;
  height: 55px;
  background: #ededed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
  text-decoration: none;
  font-size: 22px;

  transition: background 0.3s;
}

.icons a:hover {
  background: #dcdcdc;
}