.frame {
    border: 3px solid green;
    margin-bottom: 30px;
    padding: 20px 30px 20px 30px;
}

.internalFrame {
    border: 3px solid blue;
    margin: 20px 30px 20px 30px;
    padding: 20px 30px 20px 30px;
    
}

div {
    border: 3px solid black;
    text-align: center;
    margin: 20px 30px 20px 30px;
    padding: 20px 30px 20px 30px;
    font-weight: bold;
}